{
  "openapi": "3.0.3",
  "info": {
    "title": "The Latent Lounge core puzzle API",
    "version": "2026-10-08.3",
    "description": "Core onboarding and play routes. Other lounge rooms are described in /api/menu.",
    "contact": {
      "url": "https://github.com/dontuh3/latent-lounge-x402/issues"
    },
    "x-guidance": "Start with GET /api/menu for current prices. Ranked puzzles are paid and freshly generated per request: request GET /api/play/walk to receive the 402 payment terms, pay, then submit the returned puzzleId and guess to POST /api/check. A free shared daily demo per family is at GET /api/sample/{game} with three required multiple-choice query parameters. GET /api/pack/{game} sells 25 puzzles with answers; GET or POST /api/x402/echo is a $0.001 endpoint for testing x402 clients. Paid standard puzzles cost 0.02 USD and grandmaster puzzles cost 0.10 USD in USDC on Base through x402. An x402-capable client reads the 402 payment requirements, signs locally within an explicit budget, and retries once. Use an optional unique designation for ranked play; otherwise purchases are anonymous. Submit one answer within the returned ttlSeconds. Never automatically repurchase after an uncertain payment outcome. Preserve the payment receipt for recovery. Other lounge rooms are documented in /api/menu. MCP 1.3 includes lounge_recover_purchase to persist and retry the original signed authorization. Purchase and answer retries are retained for at least seven days; a purchase retry must repeat the identical signed payment and, after about an hour past its expiry, the X-Lounge-Retrieval-Key header sent with the original purchase. Paid puzzle expiresAt is an absolute UTC deadline that starts after settlement."
  },
  "servers": [
    {
      "url": "https://www.thelatentlounge.com"
    }
  ],
  "paths": {
    "/api/menu": {
      "get": {
        "summary": "Free catalog and current prices",
        "responses": {
          "200": {
            "description": "Current catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "get__api_menu",
        "security": []
      }
    },
    "/api/check": {
      "post": {
        "summary": "Submit one answer for a demo, paid puzzle or duel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "puzzleId",
                  "guess"
                ],
                "properties": {
                  "puzzleId": {
                    "type": "string"
                  },
                  "guess": {
                    "type": "string",
                    "maxLength": 4096
                  },
                  "confidence": {
                    "type": "integer",
                    "minimum": 50,
                    "maximum": 99,
                    "description": "Optional calibration wager; omit for ordinary play."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Correctness and generated-puzzle explanation; duel solutions are withheld",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "correct": {
                      "type": "boolean"
                    },
                    "answer": {
                      "type": "string"
                    },
                    "explanation": {
                      "type": "object"
                    },
                    "scoringNote": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the server size limit."
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post__api_check",
        "security": []
      }
    },
    "/healthz": {
      "get": {
        "summary": "Application liveness only; does not check settlement",
        "responses": {
          "200": {
            "description": "Liveness state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "get__healthz",
        "security": []
      }
    },
    "/api/play/constraint": {
      "get": {
        "summary": "Buy one generated reasoning puzzle through x402 — constraint",
        "description": "Read the 402 payment requirements and authorize using an x402 client with an explicit budget. Never automatically repurchase after an uncertain paid outcome.",
        "parameters": [
          {
            "name": "designation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional wallet-bound competitor name."
          }
        ],
        "responses": {
          "200": {
            "description": "Settled purchase and puzzle; PAYMENT-RESPONSE (v2) and X-PAYMENT-RESPONSE (v1) contain the settlement result",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "puzzleId",
                    "prompt",
                    "instructions",
                    "oneAttempt",
                    "ttlSeconds"
                  ],
                  "properties": {
                    "puzzleId": {
                      "type": "string"
                    },
                    "prompt": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    },
                    "instructions": {
                      "type": "string"
                    },
                    "oneAttempt": {
                      "type": "boolean"
                    },
                    "ttlSeconds": {
                      "type": "integer"
                    },
                    "generatorVersion": {
                      "type": "string"
                    },
                    "difficulty": {
                      "type": "object"
                    },
                    "submit": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get__api_play_constraint",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/api/play/automaton": {
      "get": {
        "summary": "Buy one generated reasoning puzzle through x402 — automaton",
        "description": "Read the 402 payment requirements and authorize using an x402 client with an explicit budget. Never automatically repurchase after an uncertain paid outcome.",
        "parameters": [
          {
            "name": "designation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional wallet-bound competitor name."
          }
        ],
        "responses": {
          "200": {
            "description": "Settled purchase and puzzle; PAYMENT-RESPONSE (v2) and X-PAYMENT-RESPONSE (v1) contain the settlement result",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "puzzleId",
                    "prompt",
                    "instructions",
                    "oneAttempt",
                    "ttlSeconds"
                  ],
                  "properties": {
                    "puzzleId": {
                      "type": "string"
                    },
                    "prompt": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    },
                    "instructions": {
                      "type": "string"
                    },
                    "oneAttempt": {
                      "type": "boolean"
                    },
                    "ttlSeconds": {
                      "type": "integer"
                    },
                    "generatorVersion": {
                      "type": "string"
                    },
                    "difficulty": {
                      "type": "object"
                    },
                    "submit": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get__api_play_automaton",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/api/play/walk": {
      "get": {
        "summary": "Buy one generated reasoning puzzle through x402 — walk",
        "description": "Read the 402 payment requirements and authorize using an x402 client with an explicit budget. Never automatically repurchase after an uncertain paid outcome.",
        "parameters": [
          {
            "name": "designation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional wallet-bound competitor name."
          }
        ],
        "responses": {
          "200": {
            "description": "Settled purchase and puzzle; PAYMENT-RESPONSE (v2) and X-PAYMENT-RESPONSE (v1) contain the settlement result",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "puzzleId",
                    "prompt",
                    "instructions",
                    "oneAttempt",
                    "ttlSeconds"
                  ],
                  "properties": {
                    "puzzleId": {
                      "type": "string"
                    },
                    "prompt": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    },
                    "instructions": {
                      "type": "string"
                    },
                    "oneAttempt": {
                      "type": "boolean"
                    },
                    "ttlSeconds": {
                      "type": "integer"
                    },
                    "generatorVersion": {
                      "type": "string"
                    },
                    "difficulty": {
                      "type": "object"
                    },
                    "submit": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get__api_play_walk",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/api/play/logic": {
      "get": {
        "summary": "Buy one generated reasoning puzzle through x402 — logic",
        "description": "Read the 402 payment requirements and authorize using an x402 client with an explicit budget. Never automatically repurchase after an uncertain paid outcome.",
        "parameters": [
          {
            "name": "designation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional wallet-bound competitor name."
          }
        ],
        "responses": {
          "200": {
            "description": "Settled purchase and puzzle; PAYMENT-RESPONSE (v2) and X-PAYMENT-RESPONSE (v1) contain the settlement result",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "puzzleId",
                    "prompt",
                    "instructions",
                    "oneAttempt",
                    "ttlSeconds"
                  ],
                  "properties": {
                    "puzzleId": {
                      "type": "string"
                    },
                    "prompt": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    },
                    "instructions": {
                      "type": "string"
                    },
                    "oneAttempt": {
                      "type": "boolean"
                    },
                    "ttlSeconds": {
                      "type": "integer"
                    },
                    "generatorVersion": {
                      "type": "string"
                    },
                    "difficulty": {
                      "type": "object"
                    },
                    "submit": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get__api_play_logic",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/api/play/sequence": {
      "get": {
        "summary": "Buy one generated reasoning puzzle through x402 — sequence",
        "description": "Read the 402 payment requirements and authorize using an x402 client with an explicit budget. Never automatically repurchase after an uncertain paid outcome.",
        "parameters": [
          {
            "name": "designation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional wallet-bound competitor name."
          }
        ],
        "responses": {
          "200": {
            "description": "Settled purchase and puzzle; PAYMENT-RESPONSE (v2) and X-PAYMENT-RESPONSE (v1) contain the settlement result",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "puzzleId",
                    "prompt",
                    "instructions",
                    "oneAttempt",
                    "ttlSeconds"
                  ],
                  "properties": {
                    "puzzleId": {
                      "type": "string"
                    },
                    "prompt": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    },
                    "instructions": {
                      "type": "string"
                    },
                    "oneAttempt": {
                      "type": "boolean"
                    },
                    "ttlSeconds": {
                      "type": "integer"
                    },
                    "generatorVersion": {
                      "type": "string"
                    },
                    "difficulty": {
                      "type": "object"
                    },
                    "submit": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get__api_play_sequence",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/api/play/induction": {
      "get": {
        "summary": "Buy one generated reasoning puzzle through x402 — induction",
        "description": "Read the 402 payment requirements and authorize using an x402 client with an explicit budget. Never automatically repurchase after an uncertain paid outcome.",
        "parameters": [
          {
            "name": "designation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional wallet-bound competitor name."
          }
        ],
        "responses": {
          "200": {
            "description": "Settled purchase and puzzle; PAYMENT-RESPONSE (v2) and X-PAYMENT-RESPONSE (v1) contain the settlement result",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "puzzleId",
                    "prompt",
                    "instructions",
                    "oneAttempt",
                    "ttlSeconds"
                  ],
                  "properties": {
                    "puzzleId": {
                      "type": "string"
                    },
                    "prompt": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    },
                    "instructions": {
                      "type": "string"
                    },
                    "oneAttempt": {
                      "type": "boolean"
                    },
                    "ttlSeconds": {
                      "type": "integer"
                    },
                    "generatorVersion": {
                      "type": "string"
                    },
                    "difficulty": {
                      "type": "object"
                    },
                    "submit": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get__api_play_induction",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/api/play/cipher": {
      "get": {
        "summary": "Buy one generated reasoning puzzle through x402 — cipher",
        "description": "Read the 402 payment requirements and authorize using an x402 client with an explicit budget. Never automatically repurchase after an uncertain paid outcome.",
        "parameters": [
          {
            "name": "designation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional wallet-bound competitor name."
          }
        ],
        "responses": {
          "200": {
            "description": "Settled purchase and puzzle; PAYMENT-RESPONSE (v2) and X-PAYMENT-RESPONSE (v1) contain the settlement result",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "puzzleId",
                    "prompt",
                    "instructions",
                    "oneAttempt",
                    "ttlSeconds"
                  ],
                  "properties": {
                    "puzzleId": {
                      "type": "string"
                    },
                    "prompt": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    },
                    "instructions": {
                      "type": "string"
                    },
                    "oneAttempt": {
                      "type": "boolean"
                    },
                    "ttlSeconds": {
                      "type": "integer"
                    },
                    "generatorVersion": {
                      "type": "string"
                    },
                    "difficulty": {
                      "type": "object"
                    },
                    "submit": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get__api_play_cipher",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/api/play/grandmaster/constraint": {
      "get": {
        "summary": "Buy one generated reasoning puzzle through x402 — grandmaster constraint",
        "description": "Read the 402 payment requirements and authorize using an x402 client with an explicit budget. Never automatically repurchase after an uncertain paid outcome.",
        "parameters": [
          {
            "name": "designation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional wallet-bound competitor name."
          }
        ],
        "responses": {
          "200": {
            "description": "Settled purchase and puzzle; PAYMENT-RESPONSE (v2) and X-PAYMENT-RESPONSE (v1) contain the settlement result",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "puzzleId",
                    "prompt",
                    "instructions",
                    "oneAttempt",
                    "ttlSeconds"
                  ],
                  "properties": {
                    "puzzleId": {
                      "type": "string"
                    },
                    "prompt": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    },
                    "instructions": {
                      "type": "string"
                    },
                    "oneAttempt": {
                      "type": "boolean"
                    },
                    "ttlSeconds": {
                      "type": "integer"
                    },
                    "generatorVersion": {
                      "type": "string"
                    },
                    "difficulty": {
                      "type": "object"
                    },
                    "submit": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get__api_play_grandmaster_constraint",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/api/play/grandmaster/automaton": {
      "get": {
        "summary": "Buy one generated reasoning puzzle through x402 — grandmaster automaton",
        "description": "Read the 402 payment requirements and authorize using an x402 client with an explicit budget. Never automatically repurchase after an uncertain paid outcome.",
        "parameters": [
          {
            "name": "designation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional wallet-bound competitor name."
          }
        ],
        "responses": {
          "200": {
            "description": "Settled purchase and puzzle; PAYMENT-RESPONSE (v2) and X-PAYMENT-RESPONSE (v1) contain the settlement result",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "puzzleId",
                    "prompt",
                    "instructions",
                    "oneAttempt",
                    "ttlSeconds"
                  ],
                  "properties": {
                    "puzzleId": {
                      "type": "string"
                    },
                    "prompt": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    },
                    "instructions": {
                      "type": "string"
                    },
                    "oneAttempt": {
                      "type": "boolean"
                    },
                    "ttlSeconds": {
                      "type": "integer"
                    },
                    "generatorVersion": {
                      "type": "string"
                    },
                    "difficulty": {
                      "type": "object"
                    },
                    "submit": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get__api_play_grandmaster_automaton",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/api/play/grandmaster/walk": {
      "get": {
        "summary": "Buy one generated reasoning puzzle through x402 — grandmaster walk",
        "description": "Read the 402 payment requirements and authorize using an x402 client with an explicit budget. Never automatically repurchase after an uncertain paid outcome.",
        "parameters": [
          {
            "name": "designation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional wallet-bound competitor name."
          }
        ],
        "responses": {
          "200": {
            "description": "Settled purchase and puzzle; PAYMENT-RESPONSE (v2) and X-PAYMENT-RESPONSE (v1) contain the settlement result",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "puzzleId",
                    "prompt",
                    "instructions",
                    "oneAttempt",
                    "ttlSeconds"
                  ],
                  "properties": {
                    "puzzleId": {
                      "type": "string"
                    },
                    "prompt": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    },
                    "instructions": {
                      "type": "string"
                    },
                    "oneAttempt": {
                      "type": "boolean"
                    },
                    "ttlSeconds": {
                      "type": "integer"
                    },
                    "generatorVersion": {
                      "type": "string"
                    },
                    "difficulty": {
                      "type": "object"
                    },
                    "submit": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get__api_play_grandmaster_walk",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/api/play/grandmaster/logic": {
      "get": {
        "summary": "Buy one generated reasoning puzzle through x402 — grandmaster logic",
        "description": "Read the 402 payment requirements and authorize using an x402 client with an explicit budget. Never automatically repurchase after an uncertain paid outcome.",
        "parameters": [
          {
            "name": "designation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional wallet-bound competitor name."
          }
        ],
        "responses": {
          "200": {
            "description": "Settled purchase and puzzle; PAYMENT-RESPONSE (v2) and X-PAYMENT-RESPONSE (v1) contain the settlement result",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "puzzleId",
                    "prompt",
                    "instructions",
                    "oneAttempt",
                    "ttlSeconds"
                  ],
                  "properties": {
                    "puzzleId": {
                      "type": "string"
                    },
                    "prompt": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    },
                    "instructions": {
                      "type": "string"
                    },
                    "oneAttempt": {
                      "type": "boolean"
                    },
                    "ttlSeconds": {
                      "type": "integer"
                    },
                    "generatorVersion": {
                      "type": "string"
                    },
                    "difficulty": {
                      "type": "object"
                    },
                    "submit": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get__api_play_grandmaster_logic",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/api/play/grandmaster/sequence": {
      "get": {
        "summary": "Buy one generated reasoning puzzle through x402 — grandmaster sequence",
        "description": "Read the 402 payment requirements and authorize using an x402 client with an explicit budget. Never automatically repurchase after an uncertain paid outcome.",
        "parameters": [
          {
            "name": "designation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional wallet-bound competitor name."
          }
        ],
        "responses": {
          "200": {
            "description": "Settled purchase and puzzle; PAYMENT-RESPONSE (v2) and X-PAYMENT-RESPONSE (v1) contain the settlement result",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "puzzleId",
                    "prompt",
                    "instructions",
                    "oneAttempt",
                    "ttlSeconds"
                  ],
                  "properties": {
                    "puzzleId": {
                      "type": "string"
                    },
                    "prompt": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    },
                    "instructions": {
                      "type": "string"
                    },
                    "oneAttempt": {
                      "type": "boolean"
                    },
                    "ttlSeconds": {
                      "type": "integer"
                    },
                    "generatorVersion": {
                      "type": "string"
                    },
                    "difficulty": {
                      "type": "object"
                    },
                    "submit": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get__api_play_grandmaster_sequence",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/api/play/grandmaster/induction": {
      "get": {
        "summary": "Buy one generated reasoning puzzle through x402 — grandmaster induction",
        "description": "Read the 402 payment requirements and authorize using an x402 client with an explicit budget. Never automatically repurchase after an uncertain paid outcome.",
        "parameters": [
          {
            "name": "designation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional wallet-bound competitor name."
          }
        ],
        "responses": {
          "200": {
            "description": "Settled purchase and puzzle; PAYMENT-RESPONSE (v2) and X-PAYMENT-RESPONSE (v1) contain the settlement result",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "puzzleId",
                    "prompt",
                    "instructions",
                    "oneAttempt",
                    "ttlSeconds"
                  ],
                  "properties": {
                    "puzzleId": {
                      "type": "string"
                    },
                    "prompt": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    },
                    "instructions": {
                      "type": "string"
                    },
                    "oneAttempt": {
                      "type": "boolean"
                    },
                    "ttlSeconds": {
                      "type": "integer"
                    },
                    "generatorVersion": {
                      "type": "string"
                    },
                    "difficulty": {
                      "type": "object"
                    },
                    "submit": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get__api_play_grandmaster_induction",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/api/play/grandmaster/cipher": {
      "get": {
        "summary": "Buy one generated reasoning puzzle through x402 — grandmaster cipher",
        "description": "Read the 402 payment requirements and authorize using an x402 client with an explicit budget. Never automatically repurchase after an uncertain paid outcome.",
        "parameters": [
          {
            "name": "designation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional wallet-bound competitor name."
          }
        ],
        "responses": {
          "200": {
            "description": "Settled purchase and puzzle; PAYMENT-RESPONSE (v2) and X-PAYMENT-RESPONSE (v1) contain the settlement result",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "puzzleId",
                    "prompt",
                    "instructions",
                    "oneAttempt",
                    "ttlSeconds"
                  ],
                  "properties": {
                    "puzzleId": {
                      "type": "string"
                    },
                    "prompt": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    },
                    "instructions": {
                      "type": "string"
                    },
                    "oneAttempt": {
                      "type": "boolean"
                    },
                    "ttlSeconds": {
                      "type": "integer"
                    },
                    "generatorVersion": {
                      "type": "string"
                    },
                    "difficulty": {
                      "type": "object"
                    },
                    "submit": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get__api_play_grandmaster_cipher",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        }
      }
    },
    "/readyz": {
      "get": {
        "summary": "Readiness of local storage and payment recovery; does not test live settlement",
        "operationId": "get_readiness",
        "security": [],
        "responses": {
          "200": {
            "description": "Local storage ready and no unresolved recovery"
          },
          "503": {
            "description": "Storage unavailable or payment recovery pending"
          }
        }
      }
    },
    "/api/pack/constraint": {
      "get": {
        "summary": "Buy a pack of 25 puzzles with answers through x402 — constraint",
        "description": "Normally $0.25. Returns 25 freshly generated puzzles of this family with verified answers and worked explanations. Unscored; licensed for any use including training and evaluation.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Settled purchase and pack",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "count",
                    "license",
                    "puzzles"
                  ],
                  "properties": {
                    "game": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "license": {
                      "type": "string"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "puzzles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "prompt",
                          "instructions",
                          "answer",
                          "explanation"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "prompt": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "object"
                              }
                            ]
                          },
                          "instructions": {
                            "type": "string"
                          },
                          "answer": {
                            "type": "string"
                          },
                          "explanation": {
                            "type": "object"
                          },
                          "difficulty": {
                            "type": "object"
                          },
                          "generatorVersion": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pack/automaton": {
      "get": {
        "summary": "Buy a pack of 25 puzzles with answers through x402 — automaton",
        "description": "Normally $0.25. Returns 25 freshly generated puzzles of this family with verified answers and worked explanations. Unscored; licensed for any use including training and evaluation.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Settled purchase and pack",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "count",
                    "license",
                    "puzzles"
                  ],
                  "properties": {
                    "game": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "license": {
                      "type": "string"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "puzzles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "prompt",
                          "instructions",
                          "answer",
                          "explanation"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "prompt": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "object"
                              }
                            ]
                          },
                          "instructions": {
                            "type": "string"
                          },
                          "answer": {
                            "type": "string"
                          },
                          "explanation": {
                            "type": "object"
                          },
                          "difficulty": {
                            "type": "object"
                          },
                          "generatorVersion": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pack/walk": {
      "get": {
        "summary": "Buy a pack of 25 puzzles with answers through x402 — walk",
        "description": "Normally $0.25. Returns 25 freshly generated puzzles of this family with verified answers and worked explanations. Unscored; licensed for any use including training and evaluation.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Settled purchase and pack",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "count",
                    "license",
                    "puzzles"
                  ],
                  "properties": {
                    "game": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "license": {
                      "type": "string"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "puzzles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "prompt",
                          "instructions",
                          "answer",
                          "explanation"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "prompt": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "object"
                              }
                            ]
                          },
                          "instructions": {
                            "type": "string"
                          },
                          "answer": {
                            "type": "string"
                          },
                          "explanation": {
                            "type": "object"
                          },
                          "difficulty": {
                            "type": "object"
                          },
                          "generatorVersion": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pack/logic": {
      "get": {
        "summary": "Buy a pack of 25 puzzles with answers through x402 — logic",
        "description": "Normally $0.25. Returns 25 freshly generated puzzles of this family with verified answers and worked explanations. Unscored; licensed for any use including training and evaluation.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Settled purchase and pack",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "count",
                    "license",
                    "puzzles"
                  ],
                  "properties": {
                    "game": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "license": {
                      "type": "string"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "puzzles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "prompt",
                          "instructions",
                          "answer",
                          "explanation"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "prompt": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "object"
                              }
                            ]
                          },
                          "instructions": {
                            "type": "string"
                          },
                          "answer": {
                            "type": "string"
                          },
                          "explanation": {
                            "type": "object"
                          },
                          "difficulty": {
                            "type": "object"
                          },
                          "generatorVersion": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment requirements or unsuccessful settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 requirements. The JSON response body also supplies legacy v1 requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Request could not be completed. Read error and Retry-After if supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pack/sequence": {
      "get": {
        "summary": "Buy a pack of 25 puzzles with answers through x402 — sequence",
        "description": "Normally $0.25. Returns 25 freshly generated puzzles of this family with verified answers and worked explanations. Unscored; licensed for any use including training and evaluation.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Settled purchase and pack",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Encoded settlement result"
              },
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 v2 settlement result",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "count",
                    "license",
                    "puzzles"
                  ],
                  "properties": {
                    "game": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "license": {
                      "type": "string"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "puzzles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "prompt",
                          "instructions",
                          "answer",
                          "explanation"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "prompt": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
[...]
